body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #000000;
}

header{
    background-color: #75e2e6;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #048eaa;
    color: #f0f0f0;
}

footer p{
    margin-bottom: 10px;
    text-align: center;
}

footer .logos{
    display: flex;
    gap: 5px;
}

footer img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.logo{
    height:50px;
}

.nav-list{
    list-style-type: none;
    display: flex;
    gap: 20px;
}

li a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.hero{
    text-align: center;
    padding: 50px 20px;
    background-image: url(./assets/park.jpg);
    background-size: cover;
    color: #ffffff;
}

.hero h1{
    font-size: 2.5em;
    color:rgb(156, 156, 80)
}

.hero img{
    border-radius: 50%;
    margin: 20px 0;
    border-style: solid;
    border-color: #048eaa;
}

.hero form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.hero button{
    padding: 10px 20px;
    background-color: #2b80b5;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

.info{
    display: flex;
    justify-content: space-evenly;
    padding: 50px 20px;
    background-color: #f0f0f0
}

.dog-info{
    text-align: center;
    max-width: 300px;
}

.dog-info img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border-style: solid;
    border-color: #048eaa;
}

.dog-info h2{
    font-size: 1.5em;
    margin: 10px 0;
}

.dog-info p{
    font-size: 1em;
    margin-bottom: 20px;
}

.dog-info button{
    padding: 10px 20px;
    background-color: #048eaa;
    color: #ffffff;
    border: none;
    cursor: pointer;
}
